<footer>
    <p>
        <h4>Copyright © 2021. All rights reserved.</h3>
    </p>
    <p>
        <h4>Designed &amp; Developed by - <span class="github-profile">Shubhranil Dutta</span></h4>
    </p>
</footer>
<script src="js/profile-redirect.js"></script>
