/node_modules
SSH-key.txt
autocomplete.js
main-decrypted.js
profile-redirect-decrypted.js
/config
.firebase
.firebaserc
firebase.json
node_modules
npm-debug.log
firebase-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
